.profile-page {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
  }
  
  .profile-page h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .profile-info {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .profile-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .profile-label {
    font-weight: bold;
    color: #032B5F;
  }
  
  .profile-value {
    font-size: 2rem;
    color: #032B5F;
    word-break: break-all;
  }
  