.dashboard {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 8rem;
  }
  
  .dashboard-title {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  