.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 0 80px 0;
}

.investText {
    margin: 40px 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.purchased-noty{
    color: #01204E; /* Dark blue color for the text */
    font-size: 20px; /* Font size */
    margin-bottom: 1rem; /* Space below the heading */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
}
@media (max-width: 480px) {
    .purchased-noty {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}
.primaryContainer {
    width: 85%;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.tokentitle {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #032b5f;
    margin-bottom: 20px;
}

.tokenContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokenSlider {
    display: flex;
    transition: transform 0.5s ease;
}

.tokenItem {
    min-width: 100%;
    text-align: center;
    margin-bottom:30px;
}

.tokenImage {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tokenName {
    font-size: 24px;
    color: #032b5f;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.tokenDescription {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Volte', sans-serif;
}

.tokenButton {
    background-color: #032b5f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.tokenButton:hover {
    background-color: #0056b3;
}

.arrowsContainer {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrowButton {
    background-color: #032b5f;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.arrowButton:hover {
    background-color: #0056b3;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    margin: auto; /
}

.modalContent h3 {
    color: #01204E; /* Dark blue color */
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
}

.modalButton {
    background-color: #01204E; /* Dark blue color */
    color: #fff; /* White text */
    padding: 12px 24px; /* Padding for buttons */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    border-radius: 6px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; 
}

.closeButton {
    background-color: #f44336; /* Red */
    color: white;
}

.closeButton:hover {
    background-color: #e53935;
}
.gif-container-turtle {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px 0; /* Add some margin */
}

.gif-container-turtle img {
    max-width: 100%; /* Make it responsive */
    height: auto; /* Maintain aspect ratio */
}

media (max-width: 480px) {
    .modalContent {
        padding: 1rem; /* Reduce padding on smaller screens */
    }
    
    .modalButton {
        padding: 10px 20px; /* Adjust padding for smaller screens */
    }
}
