.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: "Poppins", sans-serif;
}

/* Heading Styling */
.heading-role {
    color: #01204E; /* Dark blue color */
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}
.close-button {
    position: absolute; /* Positioning it relative to the modal */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    background: none; /* No background */
    border: none; /* No border */
    font-size: 24px; /* Larger font for visibility */
    color: #01204E; /* Dark blue color for the "X" */
    cursor: pointer; /* Pointer cursor on hover */
    transition: color 0.3s ease; /* Transition effect for color change */
}
.close-button:hover {
    color: #ff0000; /* Change color on hover (red) */
}

.close-modal {
    margin-top: 1rem;
}
.modal-paragraph {
    font-size: 16px; /* Adjust the font size */
    color: #333; /* Set the text color */
    margin: 1rem 0; /* Add some margin above and below */
    line-height: 1.5; /* Adjust line height for better readability */
}

.gif-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px 0; /* Add some margin */
}

.gif-container img {
    max-width: 100%; /* Make it responsive */
    height: auto; /* Maintain aspect ratio */
}


/* Responsive Styling */
/* @media (max-width: 480px) {
    .border-home {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .footer-home {
        font-size: 12px;
    }
} */
